<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952095476749-49s67pkr5gcqg5qmhssb1ktroql9u955.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952095476749-49s67pkr5gcqg5qmhssb1ktroql9u955</string>
	<key>API_KEY</key>
	<string>AIzaSyByn_BMt2-pW4PxXgSV2VxzfyQvUfwFMV0</string>
	<key>GCM_SENDER_ID</key>
	<string>952095476749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.autonomous.megapp</string>
	<key>PROJECT_ID</key>
	<string>autonomous-firebase---prod</string>
	<key>STORAGE_BUCKET</key>
	<string>autonomous-firebase---prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952095476749:ios:c727c9a12dda2e149d1944</string>
</dict>
</plist>