<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Autonomous</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>ai.autonomous.megapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>autonomous-app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>autonomous-ai</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>login-google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.900615547717-igfj193jhvschfjfpdflj6sa72m5lqqi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>login-facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb380022628861188</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>380022628861188</string>
	<key>FacebookDisplayName</key>
	<string>Autonomous</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The app needs access to Bluetooth?</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is used to communicate with BLE devices.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>CentraNo2-Black.ttf</string>
		<string>CentraNo2-BlackItalic.ttf</string>
		<string>CentraNo2-Bold.ttf</string>
		<string>CentraNo2-BoldItalic.ttf</string>
		<string>CentraNo2-Book.ttf</string>
		<string>CentraNo2-BookItalic.ttf</string>
		<string>CentraNo2-Extrabold.ttf</string>
		<string>CentraNo2-ExtraboldItalic.ttf</string>
		<string>CentraNo2-Hairline.ttf</string>
		<string>CentraNo2-HairlineItalic.ttf</string>
		<string>CentraNo2-Light.ttf</string>
		<string>CentraNo2-LightItalic.ttf</string>
		<string>CentraNo2-Medium.ttf</string>
		<string>CentraNo2-MediumItalic.ttf</string>
		<string>CentraNo2-Thin.ttf</string>
		<string>CentraNo2-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
