<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725955680163-6r95uc802rn3shk8ge60hua0d1d86k6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725955680163-6r95uc802rn3shk8ge60hua0d1d86k6g</string>
	<key>API_KEY</key>
	<string>AIzaSyCf5HAPv5jpFVL7R5tCKDlKiZ9FIjwTlzs</string>
	<key>GCM_SENDER_ID</key>
	<string>725955680163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.autonomous.megapp.dev</string>
	<key>PROJECT_ID</key>
	<string>avid-circle-284205</string>
	<key>STORAGE_BUCKET</key>
	<string>avid-circle-284205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725955680163:ios:1ac1d88f207807d60eac16</string>
</dict>
</plist>